# .npmignore

# Exclude storybook build files
storybook-static/

# Exclude source control files
.git/
.gitignore

# Exclude node_modules
node_modules/

# Exclude IDE/editor specific files
.vscode/
.idea/

# Exclude any other unnecessary files
*.log
